.slider_wrapper	{
	display: inline-block;
	background-image: url('./public/img/comp_plate_graybasic.png');
	font-size: 12px;
	background-size: 100% 100%;
}
.slider_wrapper .panel-body {
	display: block;
	padding: 0;
	height: 315px;
	width: 312px;
	position: relative;
	overflow: hidden;
}
.slider_wrapper .panel-footer .next, .slider_wrapper .panel-footer .prev {
	background-repeat: no-repeat;
	display: inline-block; 
	width: 68px;
  	height: 26px;
  	line-height: 26px;
  	color: #888;
}
.slider_wrapper .panel-footer .next:focus, .slider_wrapper .panel-footer .prev:focus {
	text-decoration: blink;
}
.slider_wrapper .panel-footer {
	background-color: rgba(255,255,255,0);
	border: 0;
}
.slider_wrapper .panel-footer .prev {
	background-image:  url('public/img/btn_ic_gray_left.png'), url('public/img/button_bg_white_left.png');
	background-position: 10% 50%;
  	text-align: right;
  	padding-right: 10px;
}
.slider_wrapper .panel-footer .prev:hover, .slider_wrapper .panel-footer .next:hover {
	color: white;
	text-decoration: blink;
	text-shadow: 1px 1px 3px black;
}
.slider_wrapper .panel-footer .prev:hover {
	background-image:  url('public/img/btn_ic_gray_left.png'), url('public/img/button_bg_orange_left.png');
}
.slider_wrapper .panel-footer .next {
	background-image:  url('public/img/btn_ic_gray_right.png'), url('public/img/button_bg_white_right.png');
	background-position: 90% 50%;
  	text-align: left;
  	padding-left: 10px;
}
.slider_wrapper .panel-footer .next:hover {
	background-image:  url('public/img/btn_ic_gray_right.png'), url('public/img/button_bg_orange_right.png');
}
.slider_wrapper .panel-footer .find {
	background-image: url('public/img/button_bg_white_right.png');
	background-position: 90% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block; 
	width: 130px;
  	height: 26px;
  	text-align: left;
  	padding-left: 10px;
  	line-height: 26px;
  	color: rgb(255, 94, 0);
  	margin-left: 15px;
  	font-weight: bold;
}
.items {
	display: inline-block;
	list-style-type: none;
	padding: 3px;
	margin-bottom: 0;
}
.item {
	display: none;
	overflow: hidden;
}
.descriptions {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: hidden;
}
.details {
	background-image: url('./public/img/comp_plate_graybasic.png');
	background-repeat: no-repeat;
	background-position: 85% 80%; 
	background-color: rgba(255,255,255,0);
}
.details a {
	color: rgb(255, 94, 0);
	text-decoration: underline;
	cursor: pointer;
}
.details a:hover {
	color: black;
}
.descriptions h5 {
	font: bold 18px Georgia, serif;
	color: rgb(255, 94, 0);
	margin-bottom: 0;
}
p.description {
	overflow: hidden;
	height: 35px;
	padding: 0;
}
p.note {
	color: #888;
	font-weight: normal;
	display: none;
	padding: 0;
	overflow: hidden;
}
.item img {
	max-width: 312px;
	max-height: 200px;
}